
     <!-- START CONTENT -->
     <div id="main-content" class=" ">
         <section class="wrapper main-wrapper row" style=''>

             <div class='col-xs-12'>
                 <div class="page-title">

                     <div class="pull-left">
                         <!-- PAGE HEADING TAG - START -->
                         <h1 class="title">Account Settings</h1>
                         <!-- PAGE HEADING TAG - END -->
                     </div>


                 </div>
             </div>

             <div class="col-lg-12">
                 <section class="box has-border-left-3">
                         <header class="panel_header">
                             <h2 class="title pull-left">Account Confirmation</h2>
                         </header>
                         <div class="content-body">    
                             <div class="row">
                                 <div class="col-xs-12">
                                     <div class="option-identity-wrapper">
                                         <div class="option-icon">
                                             <img src="assets/images/icons/two-factor.png" class="tab-img-icon" alt="icon">
                                         </div>
                                         <div class="tab-head">
                                             <h4 class="bold mb-5 no-mt">Email Verification</h4>
                                             <h4 class="no-mt"><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nihil, maxime cumque dolorum facere et error, molestias laborum at animi culpa accusamus eius corrupti totam temporibus quasi in aliquam sit amet, consectetur adipisicing elit. Deserunt nihil, maxime cumque dolorum facere et error, molestias laborum at animi culpa accusamus eius corrupti totam temporibus quasi in aliquam.</small></h4>

                                             <h5 class="bold no-mb"><i class="fa fa-check-circle-o complete f-s-14"></i> Verified</h5>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="col-xs-12">
                                     <div class="option-identity-wrapper">
                                         <div class="option-icon">
                                             <img src="assets/images/icons/upload-id.png" class="tab-img-icon" alt="icon">
                                         </div>
                                         <div class="tab-head">
                                             <h4 class="bold mb-5 no-mt">Upload your ID to withdraw and Deposit</h4>
                                             <h4 class="no-mt"><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nihil, maxime cumque dolorum facere et error, molestias laborum at animi culpa accusamus eius corrupti totam temporibus quasi in aliquam sit amet, consectetur adipisicing elit. Deserunt nihil, maxime cumque dolorum facere et error, molestias laborum at animi culpa accusamus eius corrupti totam temporibus quasi in aliquam.</small></h4>

                                             <h5 class="bold no-mb"><i class="fa fa-check-circle-o complete f-s-14"></i> Verified</h5>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="col-xs-12">
                                     <div class="option-identity-wrapper no-mb">
                                         <div class="option-icon">
                                             <img src="assets/images/icons/home-location.png" class="tab-img-icon" alt="icon">
                                         </div>
                                         <div class="tab-head">
                                             <h4 class="bold mb-5 no-mt">Proof of Address</h4>
                                             <h4 class="no-mt"><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nihil, maxime cumque dolorum facere et error, molestias laborum at animi culpa accusamus eius corrupti totam temporibus quasi in aliquam sit amet, consectetur adipisicing elit. Deserunt nihil, maxime cumque dolorum facere et error, molestias laborum at animi culpa accusamus eius corrupti totam temporibus quasi in aliquam.</small></h4>

                                             <h5 class="bold no-mb"><i class="fa fa-check-circle-o complete f-s-14"></i> Verified</h5>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                 </section>
             </div>

             <div class="clearfix"></div>
<!--
             <div class="col-lg-12">
                 <section class="box has-border-left-3">
                         <header class="panel_header">
                             <h2 class="title pull-left">Authentication Settings</h2>
                         </header>
                         <div class="content-body">    
                             <div class="row">
                                 <div class="col-xs-12">
                                     <div class="option-identity-wrapper no-mb">
                                         <div class="option-icon">
                                             <img src="assets/images/icons/qr.png" class="tab-img-icon" alt="icon">
                                         </div>
                                         <div class="tab-head left15">
                                             <h3 class="bold no-mt">Two-factor Authentication</h3>
                                             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora quaerat optio tempore, culpa iure ipsam voluptatum amet consectetur fuga ab, blanditiis saepe alias ea, corrupti doloremque.</p>
                                             <h4 class=""><small>securit key :</small> GA783BJAH555283962GBGFLB</h4>
                                             <div class="clearfix"></div>
                                             <div class="col-sm-9 no-pl">
                                                 <div class="form-group">
                                                     <label class="form-label">Authentication code</label>
                                                     <span class="desc">(2fa)</span>
                                                     <div class="controls">
                                                         <input type="text" class="form-control"  name="2factor" placeholder="Google 2fa code">
                                                     </div>
                                                 </div>
                                             </div>
                                             <div class="col-sm-3 no-pr">
                                                 <button type="submit" class="btn btn-primary mt-30 btn-corner"><i class="fa fa-check"></i> Authenticate</button>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                                 
                             </div>
                         </div>
                 </section>
             </div>
-->
             <div class="clearfix"></div>

             <div >
                 <section class="box has-border-left-3">
                         <header class="panel_header">
                             <h2 class="title pull-left">Upload ID Settings</h2>
                         </header>
                         <div class="content-body">    
                             <div class="row">
                                
                                 <div class="form-container">
                                     <form action='#' method='post' enctype='multipart/form-data'><input type='hidden' name='form-name' value='form 2' />

                                         <div class="row">
                                             <div class="col-xs-12">
                                                 
                                                 <div class="col-xs-12 mb-20">
                                                 
                                                     <div class="col-sm-12 avatar-img ">
                                                         <div class="avatar-img-wrapper">
                                                             <img src="assets/images/icons/id-card.png" style="max-width:100px" alt="">
                                                         </div>
                                                         <div class="form-group">
                                                             <label class="form-label" for="formfield10">Upload ID File</label>
                                                             <span class="desc">"JPG, GIF or PNG Max size of 800K"</span>
                                                             <div class="controls">
                                                                 <input type="file" class="" id="formfield10" name="formfield10">
                                                             </div>
                                                         </div>
                                                     </div>

                                                 </div>
                                                 
                                                 <div class="pull-left">
                                                     <h4><i class="fa fa-info-circle color-primary complete f-s-14"></i><small>Note that the ID image must be in high resolution and all info is clear</small></h4>
                                                 </div>
                                                 <div class="pull-right">
                                                     <button type="submit" class="btn btn-primary btn-corner right15"><i class="fa fa-check"></i> Update</button>
                                                     <button type="button" class="btn btn-default btn-corner"><i class="fa fa-times"></i></button>
                                                 </div>
                                                 
                                             </div>
                                         </div>
                                     </form>
                                 </div>
                             </div>
                         </div>
                 </section>
             </div>

             <div class="clearfix"></div>

             <div>
                 <section class="box has-border-left-3">
                         <header class="panel_header">
                             <h2 class="title pull-left">Address Proof Settings</h2>
                         </header>
                         <div class="content-body">    
                             <div class="row">
                                
                                 <div class="form-container">
                                     <form id='icon_validate' action='#' method='post'><input type='hidden' name='form-name' value='icon_validate' />

                                         <div class="row">
                                             <div class="col-xs-12">
                                                 <div class="col-lg-6 no-pl">
                                                     <div class="form-group">
                                                         <label class="form-label">Address Line 1  </label>
                                                         <span class="desc">"Maximum 40 character"</span>
                                                         <div class="controls">
                                                             <i class=""></i>
                                                             <input type="text" class="form-control" name="formfield1" placeholder="address line1">
                                                         </div>
                                                     </div>
                                                 </div>
                                                 <div class="col-lg-6 no-pr">
                                                     <div class="form-group">
                                                         <label class="form-label">Address Line 2 </label>
                                                         <span class="desc">"Maximum 60 character"</span>
                                                         <div class="controls">
                                                             <i class=""></i>
                                                             <input type="text" class="form-control" name="formfield3" placeholder="address line2">
                                                         </div>
                                                     </div>
                                                 </div>
                                                 <div class="col-lg-6 no-pl">
                                                     <div class="form-group">
                                                         <label class="form-label">Password </label>
                                                         <span class="desc">e.g. "lorem123"</span>
                                                         <div class="controls">
                                                             <i class=""></i>
                                                             <input type="text" class="form-control" name="formfield3" >
                                                         </div>
                                                     </div>
                                                 </div>
                                                 <div class="col-lg-6 no-pr">
                                                     <div class="form-group">
                                                         <label class="form-label">Confirm Password</label>
                                                         <span class="desc">e.g. "lorem123"</span>
                                                         <div class="controls">
                                                             <i class=""></i>
                                                             <input type="text" class="form-control" name="formfield4" >
                                                         </div>
                                                     </div>
                                                 </div>
                                                 <div class="pull-left">
                                                     <h4><i class="fa fa-info-circle color-primary complete f-s-14"></i><small>Note that password must be at lest 7 characters long and maxmuinm 15 character</small></h4>
                                                 </div>
                                                 <div class="pull-right">
                                                     <button type="submit" class="btn btn-primary btn-corner right15"><i class="fa fa-check"></i> Proof Address</button>
                                                     <button type="button" class="btn btn-default btn-corner"><i class="fa fa-times"></i></button>
                                                 </div>
                                                 
                                             </div>
                                         </div>
                                     </form>
                                 </div>
                             </div>
                         </div>
                 </section>
             </div>

             <!-- MAIN CONTENT AREA ENDS -->
         </section>
     </div>
     <!-- END CONTENT -->
     <div class="page-chatapi hideit">

         <div class="search-bar">
             <input type="text" placeholder="Search" class="form-control">
         </div>

         <div class="chat-wrapper">

             <h4 class="group-head">Favourites</h4>
             <ul class="contact-list">

                 <li class="user-row " id='chat_user_1' data-user-id='1'>
                     <div class="user-img">
                         <a href="#"><img src="assets/images/profile/avatar-1.png" alt=""></a>
                     </div>
                     <div class="user-info">
                         <h4><a href="#">Joge Lucky</a></h4>
                         <span class="status available" data-status="available"> Available</span>
                     </div>
                     <div class="user-status available">
                         <i class="fa fa-circle"></i>
                     </div>
                 </li>
                 <li class="user-row " id='chat_user_2' data-user-id='2'>
                     <div class="user-img">
                         <a href="#"><img src="assets/images/profile/avatar-2.png" alt=""></a>
                     </div>
                     <div class="user-info">
                         <h4><a href="#">Folisise Chosiel</a></h4>
                         <span class="status away" data-status="away"> Away</span>
                     </div>
                     <div class="user-status away">
                         <i class="fa fa-circle"></i>
                     </div>
                 </li>
                 <li class="user-row " id='chat_user_3' data-user-id='3'>
                     <div class="user-img">
                         <a href="#"><img src="assets/images/profile/avatar-3.png" alt=""></a>
                     </div>
                     <div class="user-info">
                         <h4><a href="#">Aron Gonzalez</a></h4>
                         <span class="status busy" data-status="busy"> Busy</span>
                     </div>
                     <div class="user-status busy">
                         <i class="fa fa-circle"></i>
                     </div>
                 </li>

             </ul>

             <h4 class="group-head">More Contacts</h4>
             <ul class="contact-list">

                 <li class="user-row " id='chat_user_4' data-user-id='4'>
                     <div class="user-img">
                         <a href="#"><img src="assets/images/profile/avatar-4.png" alt=""></a>
                     </div>
                     <div class="user-info">
                         <h4><a href="#">Chris Fox</a></h4>
                         <span class="status offline" data-status="offline"> Offline</span>
                     </div>
                     <div class="user-status offline">
                         <i class="fa fa-circle"></i>
                     </div>
                 </li>
                 <li class="user-row " id='chat_user_5' data-user-id='5'>
                     <div class="user-img">
                         <a href="#"><img src="assets/images/profile/avatar-5.png" alt=""></a>
                     </div>
                     <div class="user-info">
                         <h4><a href="#">Mogen Polish</a></h4>
                         <span class="status offline" data-status="offline"> Offline</span>
                     </div>
                     <div class="user-status offline">
                         <i class="fa fa-circle"></i>
                     </div>
                 </li>
                 <li class="user-row " id='chat_user_6' data-user-id='6'>
                     <div class="user-img">
                         <a href="#"><img src="assets/images/profile/avatar-1.png" alt=""></a>
                     </div>
                     <div class="user-info">
                         <h4><a href="#">Smith Carter</a></h4>
                         <span class="status available" data-status="available"> Available</span>
                     </div>
                     <div class="user-status available">
                         <i class="fa fa-circle"></i>
                     </div>
                 </li>
                 <li class="user-row " id='chat_user_7' data-user-id='7'>
                     <div class="user-img">
                         <a href="#"><img src="assets/images/profile/avatar-2.png" alt=""></a>
                     </div>
                     <div class="user-info">
                         <h4><a href="#">Amilia Gozenal</a></h4>
                         <span class="status busy" data-status="busy"> Busy</span>
                     </div>
                     <div class="user-status busy">
                         <i class="fa fa-circle"></i>
                     </div>
                 </li>
                 <li class="user-row " id='chat_user_8' data-user-id='8'>
                     <div class="user-img">
                         <a href="#"><img src="assets/images/profile/avatar-3.png" alt=""></a>
                     </div>
                     <div class="user-info">
                         <h4><a href="#">Tahir Jemyship</a></h4>
                         <span class="status away" data-status="away"> Away</span>
                     </div>
                     <div class="user-status away">
                         <i class="fa fa-circle"></i>
                     </div>
                 </li>
                 <li class="user-row " id='chat_user_9' data-user-id='9'>
                     <div class="user-img">
                         <a href="#"><img src="assets/images/profile/avatar-4.png" alt=""></a>
                     </div>
                     <div class="user-info">
                         <h4><a href="#">Johanson Wright</a></h4>
                         <span class="status busy" data-status="busy"> Busy</span>
                     </div>
                     <div class="user-status busy">
                         <i class="fa fa-circle"></i>
                     </div>
                 </li>
                 <li class="user-row " id='chat_user_10' data-user-id='10'>
                     <div class="user-img">
                         <a href="#"><img src="assets/images/profile/avatar-5.png" alt=""></a>
                     </div>
                     <div class="user-info">
                         <h4><a href="#">Loni Tindall</a></h4>
                         <span class="status away" data-status="away"> Away</span>
                     </div>
                     <div class="user-status away">
                         <i class="fa fa-circle"></i>
                     </div>
                 </li>
                 <li class="user-row " id='chat_user_11' data-user-id='11'>
                     <div class="user-img">
                         <a href="#"><img src="assets/images/profile/avatar-1.png" alt=""></a>
                     </div>
                     <div class="user-info">
                         <h4><a href="#">Natcho Herlaey</a></h4>
                         <span class="status idle" data-status="idle"> Idle</span>
                     </div>
                     <div class="user-status idle">
                         <i class="fa fa-circle"></i>
                     </div>
                 </li>
                 <li class="user-row " id='chat_user_12' data-user-id='12'>
                     <div class="user-img">
                         <a href="#"><img src="assets/images/profile/avatar-2.png" alt=""></a>
                     </div>
                     <div class="user-info">
                         <h4><a href="#">Shakira Swedan</a></h4>
                         <span class="status idle" data-status="idle"> Idle</span>
                     </div>
                     <div class="user-status idle">
                         <i class="fa fa-circle"></i>
                     </div>
                 </li>

             </ul>
         </div>

     </div>


     <div class="chatapi-windows ">




     </div>
 <!-- END CONTAINER -->
