<style>
  .services-block-four[_ngcontent-c1] .inner-box[_ngcontent-c1] .text[_ngcontent-c1] {
    font-size: 16px;
    color: #fdfdfd;
    margin-top: 8px;
    margin-bottom: 10px;
}
.nav-base.dark[_ngcontent-c1] #navigation[_ngcontent-c1] ul[_ngcontent-c1] li[_ngcontent-c1] a.btn[_ngcontent-c1] {
    color: #fff;
    background: #f7a901;
    border: none;
}
</style>
	<!-- ======================================= 
    ==Start nav section==  
    =======================================-->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top nav-base dark" id="minify_nav">
      <div class="container">
        <a class="navbar-brand" routerLink="/home" routerLinkActive="active">
          <img src="assets/images/image.png" alt="Logo" style="height: auto;width: 56px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navigation">
          
        </div>
      </div>
    </nav>
    <!-- ======================================= 
      ==End nav section==  
      =======================================-->
