<!-- START CONTENT -->
<div id="main-content" class=" ">
    <section class="wrapper main-wrapper row" style=''>

        <div class='col-xs-12'>
            <div class="page-title">

                <div class="pull-left">
                    <!-- PAGE HEADING TAG - START -->
                    <h1 class="title">Settings</h1>
                    <!-- PAGE HEADING TAG - END -->
                </div>


            </div>
        </div>
        <div class="clearfix"></div>

        <div class="col-lg-12">
            <div class="alert alert-message" id="alert-message">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <i class="fas" id="icon-alert"></i> &nbsp; {{message}}
            </div>
            <section class="box has-border">
                <header class="panel_header">
                    <h2 class="title pull-left" style="padding-left:20px;">Change Password</h2>
                </header>
                <div class="content-body">
                    <div class="row">
                        <div class="form-container">
                            <form id="changePasswordForm" (ngSubmit)="onSubmit()" #changePasswordForm="ngForm" novalidate>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="col-lg-4 no-pl">
                                            <div class="form-group">
                                                <label class="form-label"> Old Password </label>
                                                <span class="desc">e.g. "lorem123"</span>
                                                <div class="controls">
                                                    <i class=""></i>
                                                    <input type="text" class="form-control" name="formfield3" [(ngModel)]="old_password" name="old_password" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 no-pr">
                                            <div class="form-group">
                                                <label class="form-label">New Password</label>
                                                <span class="desc">e.g. "lorem123"</span>
                                                <div class="controls">
                                                    <i class=""></i>
                                                    <input type="text" class="form-control" name="formfield4" [(ngModel)]="new_password" name="old_password" required pattern=".{7,15}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pull-left">
                                            <h4>
                                                <i class="fa fa-info-circle color-primary complete f-s-14"></i>
                                                <small>Note that password must be minimum 7 characters long and maximum 15 character</small>
                                            </h4>
                                        </div>
                                        <div class="pull-right">
                                            <button type="submit" class="btn btn-primary btn-corner right15" [disabled]="changePasswordForm.invalid">
                                                <i class="fa fa-check"></i> Update
                                            </button>
                                            <button type="button" class="btn btn-default btn-corner">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="col-lg-12">
            <section class="has-border" style="margin-bottom:15px;">
                <header class="panel_header">
                    <h2 class="title pull-left" style="padding-left:20px;">Change Time expire</h2>
                </header>
                <div class="content-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-lg-6 no-pl">
                                <div class="form-group">
                                    <label class="form-label">Change Time Expire </label>
                                    <span class="desc">e.g. "5"(in minutes)</span>
                                    <div class="controls" style="overflow: auto">
                                        <i class=""></i>
                                        <input type="number" class="form-control" name="time" [(ngModel)]="time" style="float: left;width: 78%;">
                                        <button type="button" class="btn btn-default btn-corner" (click)="submitTimeChange()" style="float: right">Submit</button>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="pull-right">
                
              </div> -->
                        </div>
                    </div>
                </div>
            </section>
        </div>
<!-- 
        <div class="col-lg-12">
            <section class="has-border">
                <header class="panel_header">
                    <h2 class="title pull-left">Western Union</h2>
                </header>
                <div class="content-body">
                    <div class="row">
                        <label class="form-label">Details</label>
                        <div class="form-group">
                            <form #formWu="ngForm">
                                <div *ngFor="let wu of wuArr; let in=index">
                                    <div class="col-sm-3">
                                        <input type="text" [(ngModel)]="wuArr[in].key" name="key{{in}}" class="form-control" required /><br>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" [(ngModel)]="wuArr[in].value" name="value{{in}}" class="form-control" required /><br>
                                    </div>
                                    <div class="col-sm-1">
                                        <button [disabled]="disableRemoveWu" (click)="removeWu(in)" class="btn btn-danger"> <i class="fa fa-close"  ></i></button>
                                    </div>
                                    <br />
                                </div>
                                <div class="row"><button (click)="addWu()" [disabled]="!formWu.form.valid" class="btn btn-success">Add more fields</button></div>

                            </form>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <label class="form-label">Proof</label>
                            <span class="desc">It can be image in any format</span>
                            <div class="controls">
                                <i class=""></i>
                                <input type="file" class="form-control" name="time" [(ngModel)]="proofWu">
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="button" class="btn btn-default btn-corner" (click)="submitWu()">Submit</button>
                    </div>
                </div>
            </section>
        </div> -->


        <!-- <div class="col-lg-12">
            <section class="has-border">
                <header class="panel_header">
                    <h2 class="title pull-left">Wire</h2>
                </header>
                <div class="content-body">
                    <div class="row">
                        <label class="form-label">Details</label>
                        <div class="form-group">
                            <form #formWire="ngForm">
                                <div *ngFor="let w of wireArr; let in=index">
                                    <div class="col-sm-3">
                                        <input type="text" [(ngModel)]="wireArr[in].key" name="keyWire{{in}}" class="form-control" required /><br>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" [(ngModel)]="wireArr[in].value" name="valueWire{{in}}" class="form-control" required /><br>
                                    </div>
                                    <div class="col-sm-1">
                                        <button [disabled]="disableRemoveWire" (click)="removeWire(in)" class="btn btn-danger"> <i class="fa fa-close"  ></i></button>
                                    </div>
                                    <br />
                                </div>
                                <div class="row"><button (click)="addWire()" [disabled]="!formWire.form.valid" class="btn btn-success">Add more fields</button></div>

                            </form>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <label class="form-label">Proof</label>
                            <span class="desc">It can be image in any format</span>
                            <div class="controls">
                                <i class=""></i>
                                <input type="file" class="form-control" name="time" [(ngModel)]="proofWire">
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="button" class="btn btn-default btn-corner" (click)="submitWire()">Submit</button>
                    </div>
                </div>
            </section>
        </div> -->


        <!-- <div class="col-lg-12">
            <section class="has-border">
                <header class="panel_header">
                    <h2 class="title pull-left">Ria</h2>
                </header>
                <div class="content-body">
                    <div class="row">
                        <label class="form-label">Details</label>
                        <div class="form-group">
                            <form #formRia="ngForm">
                                <div *ngFor="let r of riaArr; let in=index">
                                    <div class="col-sm-3">
                                        <input type="text" [(ngModel)]="riaArr[in].key" name="keyRia{{in}}" class="form-control" required /><br>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" [(ngModel)]="riaArr[in].value" name="valueRia{{in}}" class="form-control" required /><br>
                                    </div>
                                    <div class="col-sm-1">
                                        <button [disabled]="disbaleRemoveRia" (click)="removeRia(in)" class="btn btn-danger"> <i class="fa fa-close"  ></i></button>
                                    </div>
                                    <br />
                                </div>
                                <div class="row"><button (click)="addRia()" [disabled]="!formRia.form.valid" class="btn btn-success">Add more fields</button></div>

                            </form>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <label class="form-label">Proof</label>
                            <span class="desc">It can be image in any format</span>
                            <div class="controls">
                                <i class=""></i>
                                <input type="file" class="form-control" name="time" [(ngModel)]="proofRia">
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="button" class="btn btn-default btn-corner" (click)="submitRia()">Submit</button>
                    </div>
                </div>
            </section>
        </div> -->


        <!-- <div class="col-lg-12">
            <section class="has-border">
                <header class="panel_header">
                    <h2 class="title pull-left"> Money Gram </h2>
                </header>
                <div class="content-body">
                    <div class="row">
                        <label class="form-label">Details</label>
                        <div class="form-group">
                            <form #formMg="ngForm">
                                <div *ngFor="let mg of mgArr; let in=index">
                                    <div class="col-sm-3">
                                        <input type="text" [(ngModel)]="mgArr[in].key" name="keyMg{{in}}" class="form-control" required /><br>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" [(ngModel)]="mgArr[in].value" name="valueMg{{in}}" class="form-control" required /><br>
                                    </div>
                                    <div class="col-sm-1">
                                        <button [disabled]="disableRemoveMg" (click)="removeMg(in)" class="btn btn-danger"> <i class="fa fa-close"  ></i></button>
                                    </div>
                                    <br />
                                </div>
                                <div class="row"><button (click)="addMg()" [disabled]="!formMg.form.valid" class="btn btn-success">Add more fields</button></div>
                            </form>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <label class="form-label">Proof</label>
                            <span class="desc">It can be image in any format</span>
                            <div class="controls">
                                <i class=""></i>
                                <input type="file" class="form-control" name="time" [(ngModel)]="proofMg">
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="button" class="btn btn-default btn-corner" (click)="submitMg()">Submit</button>
                    </div>
                </div>
            </section>
        </div> -->


        <!-- MAIN CONTENT AREA ENDS -->
    </section>
</div>
<!-- END CONTENT -->

<!-- END CONTAINER -->