<app-header></app-header>
<section class="main-header demo1" style="overflow:hidden;background:#f7a901;height:500px;" id="main">
  <div class="home-cont">
      <div class="container">
          <div class="row">
              <div class="main-header-sub prev text-center">
                  <div class="col-md-10 col-md-offset-1">
                      <div class="content-text">
                          <h2 class="" style="color: #fdfdfd;">Contact US</h2>
                          <p style="color: #fdfdfd;">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>                            
                      </div>                            
                  </div>
              </div>
       </div>
   </div>
  </div>
</section>
<div class="container" style="margin-top: -70px;">
  <div class="row">
      <div class="col-md-8" style="min-height: 400px;margin: auto;float: none;z-index: 2;background: white;padding: 40px;border:1px solid lightgrey;margin-bottom: 50px;box-shadow: 0 2px 28px rgba(0,0,0,.1);">
   <form>
       <div class="form-group" style="margin-bottom: 0px;">
          <label for="exampleInputEmail1">Name</label>
             <input type="text" class="form-control"  placeholder="Name" style="border-radius: 25px;">
       </div>
       <div class="form-group">
          <label for="exampleInputPassword1">Email</label>
             <input type="Email" class="form-control" placeholder="Email" style="border-radius: 25px;">
       </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Your Message</label>
             <textarea type="text" class="form-control" rows="6"  placeholder="Your Message Here.." style="border-radius: 25px;"></textarea>
       </div>
   </form>
   <button type="submit" class="btn btn-primary" style="border-radius: 25px;">Send Your Message</button>


                            

      </div>
  </div>
</div>

<div class="clearfix"></div>
<app-footer></app-footer>