<div>
    <div class="clearfix"></div>

    <div class="col-lg-12">
        <section class="box has-border-left-3">
            <header class="panel_header">
                <h2 class="title pull-left">Change Password</h2>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="form-container">
                        <form id="changePasswordForm" (ngSubmit)="onSubmit()" #changePasswordForm="ngForm" novalidate>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="col-lg-4 no-pl">
                                        <div class="form-group">
                                            <label class="form-label">Password </label>
                                            <span class="desc">e.g. "lorem123"</span>
                                            <div class="controls">
                                                <i class=""></i>
                                                <input type="password" class="form-control" name="formfield3" [(ngModel)]="password" name="old_password" required >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 no-pr">
                                        <div class="form-group">
                                            <label class="form-label">Confirm Password</label>
                                            <span class="desc">e.g. "lorem123"</span>
                                            <div class="controls">
                                                <i class=""></i>
                                                <input type="password" class="form-control" name="formfield4" [(ngModel)]="confirmPassword" name="old_password" required pattern=".{7,15}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pull-left">
                                        <h4><i class="fa fa-info-circle color-primary complete f-s-14"></i>
                                            <small>Note that password must be at lest 7 characters long and maxmuinm 15 character</small>
                                        </h4>
                                    </div>
                                    <div class="pull-right">
                                        <button type="submit" class="btn btn-primary btn-corner right15" [disabled]="changePasswordForm.invalid"><i class="fa fa-check"></i> Update</button>
                                        <button type="button" class="btn btn-default btn-corner"><i class="fa fa-times"></i></button>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>