<!-- ======================================= 
      ==Start footer section==  
      =======================================-->
      <section class="main-footer footer-style-two text-center" id="contact">
        <!--Widgets Section-->
        <div class="widgets-section">
            <div class="container">
                 
                <div class="row clearfix">
                   <!--Footer Column-->
                   <div class="footer-column col-md-4 col-sm-6 col-xs-12">
                      <div class="footer-widget about-widget">
                         <h3 class="has-line-center">About us</h3>
                         <div class="widget-content">
                            <div class="text">btc exchange is Powerful and Complete Solution for your Crypto Currencies ICO start up business.Now you can Easily Start an ICO website in just a few adjustmets </div>
                               <ul class="social-links">
                                  <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                  <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                  <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                  <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                  <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                               </ul>
                             </div>
                         </div>
                     </div><!--End Footer Column-->
                     
                     <!--Footer Column-->
                     <div class="footer-column col-md-4 col-sm-6 col-xs-12">
                         <div class="footer-widget contact-widget">
                             <h3 class="has-line-center">Contact Us</h3>
                             <div class="widget-content">
                                 <ul class="contact-info">
                                     <li><div class="icon"><span class="ui-computer-screen-2"></span></div></li>
                                     <li>10, Mc Donald Avenue, Sunset Park, Newyork</li>
                                     <li>+99 999 9999</li>
                                    
                                 </ul>
                             </div>
                         </div>
                     </div><!--End Footer Column-->
                     
                     <!--Footer Column-->
                     <div class="footer-column col-md-4 col-sm-12 col-xs-12">
                         <div class="footer-widget newsletter-widget">
                             <h3 class="has-line-center">Newsletter</h3>
                             <div class="widget-content">
                               <div class="text">Stay Updated with our latest news. We promise not to spam</div>
                                 <div class="newsletter-form">
                                     <form method='post'><input type='hidden' name='form-name' value='form 1' />
                                         <div class="form-group">
                                             <input type="email" name="field-name" value="" placeholder="Your Email" required="">
                                             <button type="submit" class="send-btn"><span class="fa fa-paper-plane-o"></span></button>
                                         </div>
                                     </form>
                                 </div>
                             </div>
                         </div>
                     </div><!--End Footer Column-->
                     
                 </div>
             </div>
         </div>
        
        </section>
        <!-- ======================================= 
        ==End footer section==  
        =======================================-->



    <div class="copyright">
        <h4 class="text-center"> Copyright © 2018. All rights reserved.</h4>
    </div>

    <!-- pre loader  
    <div class="preloader"></div>
    -->
    <a class="btn-lg scrollup"><i class="fa fa-arrow-up"></i></a>

    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/custom.js"></script>